html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 3em;
}
footer {
  text-align: center;
  border-top: .1rem solid #d1d1d1;
  bottom: 0;
  height: 3em;
  width: 99%;
  position: absolute;
}
