@import "milligram";

body {
  main {
    h1,h2,h3,h4,h5,h6.pager{
      @media (min-width: 40.0rem) {
        font-size: 300%
      }

      /* Larger than tablet screen */
      @media (min-width: 80.0rem) {
        font-size: 180%
      }

      @media (min-width: 120.0rem) {
        font-size: 95%
      }
    }

    .first,.prev,.last,.next,.page {
      a {
        @extend .button;
      }
    }

    .current {
      @extend .button;
      background-color: #606c76;
    }
    p,span {
      @media (min-width: 40.0rem) {
        font-size: 210%
      }

      /* Larger than tablet screen */
      @media (min-width: 80.0rem) {
        font-size: 110%
      }

      @media (min-width: 120.0rem) {
        font-size: 75%
      }
    }
  }
}

/* Larger than desktop screen */
